
@import 'reset';
@import 'variables';
@import 'mixins';



.alignleft{
	float:left;
	margin:0 15px 15px 0;
	
	@media(max-width:$screen-sm){
		@include center-image();	
	}
}
.alignright{
	float:right;
	margin:0 0px 15px 15px;
	
	@media(max-width:$screen-sm){
		@include center-image();	
	}
}
.aligncenter{
	@include center-image();
	text-align:center;	
}
strong, em{
	font-weight:bold;	
}
i, em{
	font-style:italic;	
}
/* Font */

html {
	font-family:$main_font;
}

body {
	font-family:$main_font;
	color: $font_color;
	background:#CCC;
	line-height:1.5em;
	overflow-x:hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-rendering: optimizeLegibility;
	line-height: 1;
	margin-top: 0;
	font-weight:normal;
	font-family:$main_font;
	font-weight:normal;
}
.tera {
	font-size: 117px;
	font-size: 6.5rem;
	margin-bottom: 0.25385rem;
}

.giga {
	font-size: 90px;
	font-size: 5rem;
	margin-bottom: 0.33rem;
}

.mega {
	font-size: 72px;
	font-size: 4rem;
	margin-bottom: 0.4125rem;
}

h1,
.alpha {
	font-size: 60px;
	font-size: 3.33333rem;
	margin-bottom: 0.495rem;
}

h2,
.beta {
	font-size: 48px;
	font-size: 2.66667rem;
	margin-bottom: 0.61875rem;
}

h3,
.gamma {
	font-size: 36px;
	font-size: 2rem;
	margin-bottom: 0.825rem;
}

h4,
.delta {
	font-size: 24px;
	font-size: 1.33333rem;
	margin-bottom: 1.2375rem;
}

h5,
.epsilon {
	font-size: 21px;
	font-size: 1.16667rem;
	margin-bottom: 1.41429rem;
}

h6,
.zeta {
	font-size: 18px;
	font-size: 1rem;
}
p{
	margin-bottom:1.5em;	
}
